<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Whiskería y Tabaquería</title>
    <link rel="stylesheet" href="../style/index.css">
</head>

<body>
    <!-- Encabezado y barra de navegación -->
    <header class="header">
        <h1>Hermes Whiskería y Tabaquería</h1>
        <h2>Hablemos de los placeres de la vida</h2>
    </header>
    <nav class="navbar">
        <ul>
            <li class="navbar-li"><a href="index.html">Inicio</a></li>
            <li class="navbar-li"><a href="historia.html">Historias</a></li>
            <li class="navbar-li"><a href="tienda.html">Tienda</a></li>
        </ul>
    </nav>

    <!-- Nuestra historia -->
    <section class="section-historia">
        <article class="historias">
            <h2>
                Empecemos con nuestra historia..
            </h2>
            <p>
                Un sueño hecho realidad: La creación de <b>HERMES</b>!
                <br>
                En el corazón de Buenos Aires, dos apasionados del whisky y el tabaco, Ezequiel y Damian, soñaban con
                crear un espacio único donde compartir su pasión con el mundo. Ambos compartían una profunda admiración
                por la tradición y la artesanía que se esconde detrás de cada botella de whisky y cada hoja de
                tabaco.<br>

                Ezequiel, con su amplio conocimiento del mundo del whisky y su paladar exigente, era el encargado de
                seleccionar cuidadosamente cada producto que llegaría a las estanterías de la tienda. Damian, por su
                parte, aportaba su experiencia en el mundo del tabaco, curando una colección de puros y cigarrillos de
                la más alta calidad.<br>

                Tras meses de planificación y búsqueda del lugar perfecto, <b>HERMES</b> abrió sus puertas por primera
                vez. Desde el primer día, la tienda se convirtió en un refugio para los amantes del whisky y el tabaco,
                un lugar donde podían encontrar una amplia variedad de productos de calidad, asesoramiento experto y un
                ambiente acogedor. <br>

                Con el paso del tiempo, <b>HERMES</b> se convirtió en un referente en la ciudad, organizando eventos de
                degustación, catas y talleres para compartir su pasión con la comunidad. Ezequiel y Damian se
                convirtieron en figuras reconocidas en el sector, invitando a expertos y maestros destiladores a
                compartir sus conocimientos con sus clientes.<br>

                Hoy en día, <b>HERMES</b> es más que una simple tienda, es un lugar donde la pasión por el whisky y el
                tabaco se respira en cada rincón. Un espacio donde los clientes pueden descubrir nuevos sabores,
                aprender sobre la historia y tradición de estos productos y disfrutar de un ambiente único y acogedor.
            </p>
        </article>
        <img class="img-nosoros" src="../img/nosotros.jpeg" alt="nosotros">
    </section>

    <!-- Historias de las marcas -->
    <div class="historias-marcas">
        <!-- Johnnie Walker -->
        <section class="section-historias-empresas">
            <img class="img-marcas-historias" src="../img/Johnnie-Walker-BlackLabel.jpeg"
                alt="Johnnie-Walker-BlackLabel">
            <article class="articulo-historia-marcas">
                <h2>
                    El escocés Johnnie Walker.
                </h2>
                <p>La historia del whisky Johnnie Walker se remonta a 1820, cuando John Walker, un tendero de
                    Kilmarnock,
                    Escocia, comenzó a mezclar whiskies de diferentes destilerías para crear un sabor único y
                    distintivo. Su
                    hijo, Alexander Walker, heredó el negocio y continuó perfeccionando la mezcla, creando las famosas
                    marcas Johnnie Walker Red Label, Black Label y Blue Label.
                </p>
            </article>
        </section>
        <!-- Jameson -->
        <section class="section-historias-empresas">
            <img class="img-marcas-historias" src="../img/Jameson.jpg" alt="Jameson">
            <article class="articulo-historia-marcas">
                <h2>
                    El irlandés Jameson.
                </h2>
                <p>
                    El whisky irlandés Jameson se produce desde 1780 en la destilería Bow Street, en Dublín. La receta
                    original, que se ha mantenido sin cambios durante siglos, utiliza cebada irlandesa malteada, agua
                    pura del río Liffey y triple destilación. Jameson es uno de los whiskies irlandeses más populares
                    del mundo y se disfruta solo, con hielo o en cócteles.
                </p>
            </article>
        </section>
        <!-- Jack Daniel's -->
        <section class="section-historias-empresas">
            <img class="img-marcas-historias" src="../img/Jack-Daniels.jpg" alt="Jack Daniel's">
            <article class="articulo-historia-marcas">
                <h2>
                    El americano Jack Daniel's.
                </h2>
                <p>
                    En Lynchburg, Tennessee, nació Jack Daniel's. Un joven apasionado por el whisky, Jack experimentó
                    con recetas hasta crear su propio sabor único. En 1866, legalizó su negocio y su whisky ganó fama
                    por su calidad. Tras su muerte en 1911, la destilería continuó sus métodos tradicionales, asegurando
                    el sabor auténtico del whisky. Hoy en día, Jack Daniel's es una de las marcas de whisky más
                    populares del mundo, símbolo del sur de Estados Unidos y de la tradición artesanal de la elaboración
                    del whisky.
                </p>
            </article>
        </section>

        <!-- Tabacos -->

        <!-- Cohiba -->
        <section class="section-historias-empresas">
            <img class="img-marcas-historias" src="../img/Cohiba.jpg" alt="Cohiba">
            <article class="articulo-historia-marcas">
                <h2>
                    El habano Cohiba.
                </h2>
                <p>
                    El cigarro habano Cohiba es considerado uno de los mejores puros del mundo. Se elabora con hojas de
                    tabaco seleccionadas a mano de las mejores vegas de Cuba y se envejece durante al menos tres años.
                    Cohiba es conocido por su sabor suave y complejo, con aromas de café, chocolate y especias.
                </p>
            </article>
        </section>
        <!-- Montecristo -->
        <section class="section-historias-empresas">
            <img class="img-marcas-historias" src="../img/Montecristo.jpeg" alt="Montecristo">
            <article class="articulo-historia-marcas">
                <h2>
                    El habano Montecristo.
                </h2>
                <p>
                    El cigarro habano Montecristo es otro de los puros más populares del mundo. Se elabora con una
                    mezcla de hojas de tabaco de las regiones de Vuelta Abajo y Semi Vuelta Abajo de Cuba. Montecristo
                    es conocido por su sabor fuerte y robusto, con aromas de tierra, madera y cuero.
                </p>
            </article>
        </section>
        <!-- Partagás -->
        <section class="section-historias-empresas">
            <img class="img-marcas-historias" src="../img/Partagas.jpeg" alt="Partagás">
            <article class="articulo-historia-marcas">
                <h2>
                    El habano Partagás.
                </h2>
                <p>
                    El cigarro habano Partagás es un puro clásico que ha sido disfrutado por aficionados al tabaco
                    durante siglos. Se elabora con una mezcla de hojas de tabaco de las regiones de Vuelta Abajo y Semi
                    Vuelta Abajo de Cuba. Partagás es conocido por su sabor equilibrado y complejo, con aromas de café,
                    cacao y frutos secos.
                </p>
            </article>
        </section>

    </div>



    <!-- Footer -->
    <footer class="footer-general">
        <h5>Contactanos</h5>
        <div class="icos-redes-sociales">
            <a href="https://www.instagram.com/" target="_blank"><img class="redes-sociales" src="../img/instagram.png"
                    alt="instagram"></a>
            <a href="https://web.whatsapp.com/" target="_blank"><img class="redes-sociales" src="../img/whatsapp.png"
                    alt="whatsapp"></a>
            <a href="https://mail.google.com/" target="_blank"><img class="redes-sociales" src="../img/gmail.png"
                    alt="mail"></a>
        </div>
        <p class="derechos-autor">&copy; 2024 HermesTech. Todos los derechos reservados.</p>
    </footer>

</body>

</html>