<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Whiskería y Tabaquería</title>
    <link rel="stylesheet" href="../style/index.css">
</head>

<body>
    <!-- Encabezado y barra de navegación -->
    <header class="header">
        <h1>HERMES</h1>
        <h2>Whiskería y Tabaquería</h2>
    </header>
    <nav class="navbar">
        <ul>
            <li class="navbar-li"><a href="index.html">Inicio</a></li>
            <li class="navbar-li"><a href="historia.html">Historias</a></li>
            <li class="navbar-li"><a href="tienda.html">Tienda</a></li>
        </ul>
    </nav>

    <!-- Banner de bienvenida -->
    <section class="banner-section">
        <article class="description-web">
            <p> Bienvenido al refugio para los amantes del whisky y el tabaco.
                En nuestro sitio, encontrarás un espacio donde podrás sumergirte en este fascinante mundo, desde su
                historia y orígenes hasta sus diferentes variedades y estilos.</p>
            <p>Explora nuestra amplia selección de whiskies y tabacos:
                <br><br>
                <b>Whisky:</b> Ofrecemos una amplia variedad de whiskies de todo el mundo, incluyendo escoceses,
                irlandeses,
                bourbons, ryes, japoneses y más. Cada whisky tiene su propio carácter único y sabor distintivo, que
                podrás descubrir a través de nuestras detalladas descripciones y recomendaciones.
                <br><br>
                <b>Tabaco:</b> Encontrarás una gran selección de tabacos de diferentes países y orígenes, incluyendo
                puros,
                cigarrillos, pipas y tabaco de mascar. Cada tipo de tabaco ofrece una experiencia sensorial única, que
                podrás disfrutar en la comodidad de tu hogar.
        </article>
        <img class="banner" src="../img/banner-whisky-cigarro.jpg" alt="banner-whisky-cigarro">
    </section>

    <!-- Noticias -->
    <div class="titulo-noticias">
        <h2> - Noticias del mundo - </h2>
    </div>

    <div class="box-noticias">
        <div class="noticias">

            <h3>FDA de Estados Unidos propone prohibir los cigarrillos mentolados.</h3>

            <p> La Administración de Alimentos y Medicamentos (FDA) de Estados Unidos ha propuesto una prohibición
                nacional de los cigarrillos mentolados, incluyendo los cigarrillos electrónicos con sabor a mentol. Esta
                medida, que busca reducir el consumo de tabaco y salvar vidas, ha generado gran controversia entre la
                industria tabacalera, los grupos defensores de la salud pública y los consumidores.</p>

        </div>

        <div class="noticias">

            <h3>Científicos desarrollan un cigarrillo electrónico que libera menos nicotina.</h3>

            <p>Investigadores de la Universidad de Nottingham han desarrollado un cigarrillo electrónico que libera una
                menor cantidad de nicotina con cada calada. Este nuevo dispositivo, que podría ayudar a los fumadores a
                dejar de fumar gradualmente, funciona mediante un sistema de control de temperatura que regula la
                cantidad de nicotina que se vaporiza.</p>
        </div>

        <div class="noticias">

            <h3>El whisky escocés alcanza un nuevo récord de exportaciones.</h3>

            <p>Las exportaciones de whisky escocés alcanzaron un nuevo récord en 2023, con un valor total de 5.500
                millones de libras esterlinas. Este aumento se debe principalmente a la creciente demanda en mercados
                como Estados Unidos, China y Europa.</p>

        </div>

        <div class="noticias">

            <h3>Los destiladores de whisky irlandés piden una mayor protección frente a las imitaciones.</h3>

            <p>La industria del whisky irlandés está pidiendo al gobierno irlandés que tome medidas para proteger la
                reputación del whisky irlandés frente a las imitaciones. Los destiladores están preocupados por el
                creciente número de productos que utilizan el término "whisky irlandés" sin cumplir con los estrictos
                estándares de producción.</p>

        </div>

    </div>

    <!-- Footer -->
    <footer class="footer-general">
        <h5>Contactanos</h5>
        <div class="icos-redes-sociales">
            <a href="https://www.instagram.com/" target="_blank"><img class="redes-sociales" src="../img/instagram.png"
                    alt="instagram"></a>
            <a href="https://web.whatsapp.com/" target="_blank"><img class="redes-sociales" src="../img/whatsapp.png"
                    alt="whatsapp"></a>
            <a href="https://mail.google.com/" target="_blank"><img class="redes-sociales" src="../img/gmail.png"
                    alt="mail"></a>
        </div>
        <p class="derechos-autor">&copy; 2024 HermesTech. Todos los derechos reservados.</p>
    </footer>

</body>

</html>