<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Whiskería y Tabaquería</title>
    <link rel="stylesheet" href="../style/index.css">
</head>

<body>
    <!-- Encabezado y barra de navegación -->
    <header class="header">
        <h1>Hermes Whiskería y Tabaquería</h1>
        <h2>Hablemos de los placeres de la vida</h2>
    </header>
    <nav class="navbar">
        <ul>
            <li class="navbar-li"><a href="index.html">Inicio</a></li>
            <li class="navbar-li"><a href="historia.html">Historias</a></li>
            <li class="navbar-li"><a href="tienda.html">Tienda</a></li>
        </ul>
    </nav>
    <!-- BAnner Mercado Pago -->
    <section class="banner-mercadopago">
        <img src="../img/banner-mercadopago.jpg" alt=Banner-Mercado-Pago">
    </section>

    <!-- Productos de la Tienda -->
    <div class="div-tienda">
        <!-- The Macallan Reflexion -->
        <section class="section-producto">
            <img class="img-producto" src="../img/The-Macallan-Reflexion.jpg" alt="The-Macallan-Reflexion">
            <article class="producto">
                <h2>
                    Johnnie Walker Blue Label King George V
                </h2>
                <p>Lanzado en 2013 para conmemorar el centenario de la concesión de la Real Orden de Mérito por parte
                    del Rey Jorge V a Johnnie Walker & Sons, este whisky se caracteriza por su mezcla de whiskies raros
                    y añejados, algunos de hasta 60 años.
                </p>
                <h4>$10.483.200</span></h4>
                <a class="comprar"
                    href="https://www.mercadolibre.com.ar/whisky-the-macallan-reflexion-700ml/p/MLA21021141?pdp_filters=category:MLA10511#searchVariation=MLA21021141&position=1&search_layout=stack&type=product&tracking_id=53cf9776-468c-4900-98b4-5aee6603e2cb"
                    target="_blank">COMPRAR</a>
            </article>
        </section>

        <!-- Johnnie Walker -->
        <section class="section-producto">
            <img class="img-producto" src="../img/Johnnie-Walker-Bicentenary-Blend-28-Year-Old.jpg"
                alt="Johnnie-Walker-Bicentenary-Blend-28-Year-Old">
            <article class="producto">
                <h2>
                    Johnnie Walker Bicentenary Blend 28 Year Old
                </h2>
                <p>Esta edición limitada, lanzada en 2019, se caracteriza por su añejamiento de 28 años en barricas de
                    roble seleccionadas y su sabor complejo y equilibrado, con notas de frutos secos, especias y miel.
                </p>
                <h4>$7.000.000</h4>
                <a class="comprar"
                    href="https://articulo.mercadolibre.com.ar/MLA-1725654342-john-walker-sons-bicentenary-28-years-bostonmartin-_JM#position=2&search_layout=stack&type=item&tracking_id=60af5b26-0e2b-4054-9692-4409b0459e9c"
                    target="_blank">COMPRAR</a>
            </article>
        </section>
        <!-- Johnnie Walker -->
        <section class="section-producto">
            <img class="img-producto" src="../img/Johnnie-Walker-Blue-Label-King-George-V.jpg"
                alt="Johnnie-Walker-Blue-Label-King-George-V">
            <article class="producto">
                <h2>
                    Johnnie Walker Blue Label King George V
                </h2>
                <p>Lanzado en 2013 para conmemorar el centenario de la concesión de la Real Orden de Mérito por parte
                    del Rey Jorge V a Johnnie Walker & Sons, este whisky se caracteriza por su mezcla de whiskies raros
                    y añejados, algunos de hasta 60 años.
                </p>
                <h4>$3.594.240</h4>
                <a class="comprar"
                    href="https://articulo.mercadolibre.com.ar/MLA-1465925926-johnnie-walker-king-george-v-john-walker-sons-regal-rarest-_JM#position=2&search_layout=grid&type=item&tracking_id=10240d18-f1e0-44e1-9731-7ff374c6f6a4"
                    target="_blank">COMPRAR</a>
            </article>
        </section>

        <!-- Cohiba Behike 52 -->
        <section class="section-producto">
            <img class="img-producto" src="../img/Cohiba-Behike-52.jpg" alt="Cohiba-Behike-52">
            <article class="producto">
                <h2>
                    Cohiba Behike 52
                </h2>
                <p>Elaborado con hojas de tabaco "medio tiempo" o Fortaleza 4, las dos superiores de la planta de
                    tabaco, cuya generación natural es extremadamente escasa. Añejado durante al menos 5 años.
                </p>
                <h4>$1.000.000</h4>
                <a class="comprar" href="tienda.html">COMPRAR</a>
            </article>
        </section>

        <!-- Cohiba Siglo VI Grand Reserva -->
        <section class="section-producto">
            <img class="img-producto" src="../img/Cohiba-Siglo-VI-Grand-Reserva.jpg"
                alt="Cohiba Siglo VI Grand Reserva">
            <article class="producto">
                <h2>
                    Cohiba Siglo VI Grand Reserva
                </h2>
                <p>Elaborado con hojas de tabaco añejadas durante al menos 10 años. </p>
                <h4>$900.000</h4>
                <a class="comprar" href="tienda.html">COMPRAR</a>
            </article>
        </section>

        <!-- H. Upmann Magnum 50a -->
        <section class="section-producto">
            <img class="img-producto" src="../img/H-Upmann-Magnum-50.jpg" alt="H. Upmann Magnum 50">
            <article class="producto">
                <h2>
                    H. Upmann Magnum 50
                </h2>
                <p>Elaborado con hojas de tabaco seleccionadas a mano. Añejado durante al menos 5 años. </p>
                <h4>$700.000</h4>
                <a class="comprar" href="tienda.html"">COMPRAR</a>
            </article>
        </section>
    </div>

    <!-- Footer -->
    <footer class=" footer-general">
        <h5>Contactanos</h5>
        <div class="icos-redes-sociales">
            <a href="https://www.instagram.com/" target="_blank"><img class="redes-sociales" src="../img/instagram.png" alt="instagram"></a>
            <a href="https://web.whatsapp.com/" target="_blank"><img class="redes-sociales" src="../img/whatsapp.png" alt="whatsapp"></a>
            <a href="https://mail.google.com/" target="_blank"><img class="redes-sociales" src="../img/gmail.png" alt="mail"></a>
        </div>
         <p class="derechos-autor">&copy; 2024 HermesTech. Todos los derechos reservados.</p>
    </footer>

</body>

</html>